# 1 Getting Ready

## 1.1 Import Required Libraries

In [1]:
import pandas as pd
import numpy as np

## 1.2 Setting up Environment

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# 2 Load Raw Data

## 2.1 Load from CSV

In [3]:
raw_churn_cols = ['CUSTOMER_ID', 'GENDER', 'SENIOR_CITIZEN', 'PARTNER', 'DEPENDENTS',
       'TENURE', 'PHONE_SERVICE', 'MULTIPLE_LINES', 'INTERNET_SERVICE',
       'ONLINE_SECURITY', 'ONLINE_BACKUP', 'DEVICE_PROTECTION', 'TECH_SUPPORT',
       'STREAMING_TV', 'STREAMING_MOVIES', 'CONTACT', 'PAPERLESS_BILLING',
       'PAYMENT_METHOD', 'MONTHLY_CHARGES', 'TOTAL_CHARGES', 'CHURN']

df_raw_churn = pd.read_csv('./data/telco_customer_churn.csv', skiprows=1,
                              header=None, names=raw_churn_cols, low_memory=False)

## 2.2 Have a Look into the raw Data

In [4]:
df_raw_churn.head()

,CUSTOMER_ID,GENDER,SENIOR_CITIZEN,PARTNER,DEPENDENTS,TENURE,PHONE_SERVICE,MULTIPLE_LINES,INTERNET_SERVICE,ONLINE_SECURITY,ONLINE_BACKUP,DEVICE_PROTECTION,TECH_SUPPORT,STREAMING_TV,STREAMING_MOVIES,CONTACT,PAPERLESS_BILLING,PAYMENT_METHOD,MONTHLY_CHARGES,TOTAL_CHARGES,CHURN
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## 2.3 Make a copy of Raw to work on

In [5]:
df_churn = df_raw_churn.copy()

# 3 Learn more about the Dataset - Meta Info

In [6]:
df_churn.shape

(7043, 21)

In [7]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
CUSTOMER_ID          7043 non-null object
GENDER               7043 non-null object
SENIOR_CITIZEN       7043 non-null int64
PARTNER              7043 non-null object
DEPENDENTS           7043 non-null object
TENURE               7043 non-null int64
PHONE_SERVICE        7043 non-null object
MULTIPLE_LINES       7043 non-null object
INTERNET_SERVICE     7043 non-null object
ONLINE_SECURITY      7043 non-null object
ONLINE_BACKUP        7043 non-null object
DEVICE_PROTECTION    7043 non-null object
TECH_SUPPORT         7043 non-null object
STREAMING_TV         7043 non-null object
STREAMING_MOVIES     7043 non-null object
CONTACT              7043 non-null object
PAPERLESS_BILLING    7043 non-null object
PAYMENT_METHOD       7043 non-null object
MONTHLY_CHARGES      7043 non-null float64
TOTAL_CHARGES        7043 non-null object
CHURN                7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
df_churn.columns

Index(['CUSTOMER_ID', 'GENDER', 'SENIOR_CITIZEN', 'PARTNER', 'DEPENDENTS',
       'TENURE', 'PHONE_SERVICE', 'MULTIPLE_LINES', 'INTERNET_SERVICE',
       'ONLINE_SECURITY', 'ONLINE_BACKUP', 'DEVICE_PROTECTION', 'TECH_SUPPORT',
       'STREAMING_TV', 'STREAMING_MOVIES', 'CONTACT', 'PAPERLESS_BILLING',
       'PAYMENT_METHOD', 'MONTHLY_CHARGES', 'TOTAL_CHARGES', 'CHURN'],
      dtype='object')

In [9]:
df_churn.describe()

       SENIOR_CITIZEN       TENURE  MONTHLY_CHARGES
count     7043.000000  7043.000000      7043.000000
mean         0.162147    32.371149        64.761692
std          0.368612    24.559481        30.090047
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

# 4 Data Type converstion

DO IT YOURSELF IF NEEDED

# 5 Output as an input for Transformation Phase

## 5.1 Save as Pickle

In [10]:
df_churn.to_pickle('./data/extracted/churn_extracted.pickle')